/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  justify-content: center;
  display: flex;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 700px;
  padding: 15px;
  background-color: #ededed;
  margin-top: 20px;
}
h1 {
  text-align: center;
  color: red;
  margin: 20px;
}
ul {
  padding: 2px;
  list-style: none;
}
ul li {
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  border-right: 4px solid #e69d17;
  border-left: 4px solid #e69d17;
}
ul li i {
  padding: 4px;
  float: right;
  cursor: pointer;
}
p {
  color: red;
  text-align: center;
}
