<div class="main" ng-app="mytodo" ng-controller="myCtrl">
  <h1 class="h1">Todo List App</h1>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Add a task"
      aria-label="Add a task"
      aria-describedby="button-addon2"
      [(ngModel)]="task"
    />
    <button
      class="btn btn-primary"
      type="button"
      id="button-addon2"
      (click)="addTask(task)"
    >
      Add
    </button>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item-primary"
      *ngFor="let task of tasks; let i = index"
      [attr.data-index]="i"
    >
      {{ task.id }}
      -
      {{ task.name }}
      <i class="fas fa-trash-alt" (click)="deleteTask(task.id)"></i>
    </li>
  </ul>
  <p></p>
</div>
